# Testing directories
__Supplementary/*
Output/*

TWS API/*
!/TWS API/
!/TWS API/source
TWS API/source/pythonclient/*
!/TWS API/source/pythonclient/ibapi

# Ignore git crammers
*.txt
*.log
*.csv

!tickers_ledger.csv
!VAS.csv
!ASX_LISTING*.csv

# Strategies
Strategies/*.py
!Strategies/IStrategy.py
!Strategies/Crossover.py
!Strategies/Crystal.py
!Strategies/MACD.py


# Secret
*.docx
_devconfig.py

